<div id="edit_page">
  <% form_for @page, :url => admin_page_path(@page) do |f| %>
    <ul class="simple_tabs">
      <li class="current"><%= t(".general_options") %></li>
      <li><%= t(".type_settings") %></li>
      <li><%= t(".template") %></li>
      <li><%= t(".meta_informations") %></li>
      <li><%= t(".access") %></li>
    </ul>
    <div class="tab_content current">
      <fieldset>
        <%= f.label :title, t(".title")+":" %>
        <%= f.text_field :title %>
      </fieldset>
      <fieldset>
        <%= f.label :type, t(".type")+":" %>
        <%= f.select :type, options_for_select(page_types, @page.type) %>
      </fieldset>
      <fieldset>
    	  <%= f.label :hidden, t(".hidden") %>
    		<%= f.check_box :hidden, :class => "checkbox" %>
    	</fieldset>
    	<fieldset>
    	  <%= f.label :hidden_in_menu, t(".hidden_in_menu") %>
    		<%= f.check_box :hidden_in_menu, :class => "checkbox" %>
    	</fieldset>
    	<fieldset>
        <%= f.label :navigation_title, t(".navigation_title")+":" %>
        <%= f.text_field :navigation_title %>
      </fieldset>
    </div>
    <div id="type_settings" class="tab_content">
      <fieldset>
        <%= f.label :subtitle, t(".subtitle") %>
        <%= f.text_field :subtitle %>
      </fieldset>
    </div>
    <div class="tab_content">
    </div>
    <div class="tab_content">
      <fieldset>
        <%= f.label :author, t(".author")+":" %>
        <%= f.text_field :author %>
      </fieldset>
      <fieldset>
        <%= f.label :author_email, t(".author_email")+":" %>
        <%= f.text_field :author_email %>
      </fieldset>
      <fieldset>
        <%= f.label :abstract, t(".abstract")+":" %>
        <%= f.text_area :abstract, :rows => 8 %>
      </fieldset>
      <fieldset>
        <%= f.label :description, t(".description")+":" %>
        <%= f.text_area :description, :rows => 8 %>
      </fieldset>
    </div>
    <div class="tab_content">
      <fieldset>
        <%= f.label :starttime, t(".starttime")+":" %>
        <%= f.text_field :starttime %>
      </fieldset>
      <fieldset>
        <%= f.label :endtime, t(".endtime")+":" %>
        <%= f.text_field :endtime %>
      </fieldset>
    </div>
    <%= f.label "" %>
    <%= f.submit t(".submit_text"), :class => "submit" %>
  <% end %>
</div>