<div id="edit_page">
  <% form_for @page, :url => admin_page_path(@page) do |f| %>
    <ul class="simple_tabs">
      <li id="show_general_options" class="current"><%= t(".general_options") %></li>
      <li id="show_type_settings"><%= t(".type_settings") %></li>
      <li id="show_template"><%= t(".template") %></li>
      <li id="show_meta_informations"><%= t(".meta_informations") %></li>
      <li id="show_access"><%= t(".access") %></li>
    </ul>
    <div id="general_options" class="current">
      <fieldset>
        <%= f.label :title, t(".title")+":" %>
        <%= f.text_field :title %>
      </fieldset>
      <fieldset>
        <%= f.label :type, t(".type")+":" %>
        <%= f.select :type, options_for_select(page_types, @page.type) %>
      </fieldset>
      <fieldset>
    	  <%= f.label :hidden, t(".hidden") %>
    		<%= f.check_box :hidden, :class => "checkbox" %>
    	</fieldset>
    	<fieldset>
    	  <%= f.label :hidden_in_menu, t(".hidden_in_menu") %>
    		<%= f.check_box :hidden_in_menu, :class => "checkbox" %>
    	</fieldset>
    	<fieldset>
        <%= f.label :navigation_title, t(".navigation_title")+":" %>
        <%= f.text_field :navigation_title %>
      </fieldset>
    </div>
    <div id="type_settings">
    </div>
    <div id="meta_informations">
      <fieldset>
        <%= f.label :author, t(".author") %>
        <%= f.text_field :author %>
      </fieldset>
      <fieldset>
        <%= f.label :description, t(".description") %>
        <%= f.text_area :description %>
      </fieldset>
    </div>
    <div id="access">
      <fieldset>
        <%= f.label :starttime, t(".starttime") %>
        <%= f.text_field :starttime %>
      </fieldset>
      <fieldset>
        <%= f.label :endtime, t(".endtime") %>
        <%= f.text_field :endtime %>
      </fieldset>
    </div>
    <%= f.label "" %>
    <%= f.submit t(".submit_text"), :class => "submit" %>
  <% end %>
</div>