<div id="administrate_page">
<%= render :partial => "admin/pages/administration", :locals => { :collapsed => true } %>
</div>
<div id="content_elements">
<% if @page.type=="ShortcutPage" %>
<%= t("admin.pages.shortcut_page.does_not_contain_content") %>
<% else %>
<% if @page.template %>
  <table>
    <colgroup>
      <col width="<%= (1.0/@page.template.template_parts.backend_columns.length)*100 %>%">
      <col width="<%= (1.0/@page.template.template_parts.backend_columns.length)*100 %>%">
    </colgroup>
    <tr>
      <% for template_part in @page.template.template_parts.backend_columns %>
      <th><%= template_part.title %></th>
      <% end %>
    </tr>
    <tr>
      <% for template_part in @page.template.template_parts.backend_columns %>
      <td>
        <%= render :partial => "admin/content_elements/index", :locals => { :template_part_id => template_part.id } %>
      </td>
      <% end %>
    </tr>
  </table>
<% else %>
<%= t("admin.pages.no_template_found") %>
<% end %>
<% end %>
</div>