<div id="left_col">
  <%= render :partial => "/admin/trees/actions" %>
  <div id="tree">
	  <%= render :partial => "/admin/trees/tree" %>
	</div>
</div>
<div id="right_col">
</div>
<div id="middle_col">
  <%= render_notifications %>
  <div id="middle_content">
    <%= render :partial => @partial_file, :locals => @locals, :layout => false %>
  </div>
</div>

<%= render :partial => "admin/general/filebrowser" %>