<div id="left_col">
  <%= render :partial => "/admin/trees/actions" %>
  <div id="tree">
	  <%= render :partial => "/admin/trees/tree" %>
	</div>
	<%= render :partial => "/admin/trees/trash_can" %>
</div>

<div id="middle_col">
  <%= render :partial => @partial_file, :locals => @locals, :layout => false %>
</div>

<div id="right_col">
<%= render_right_col %>
</div>