<div id="left_col">
  <%= render :partial => "tree_actions" %>
  <div id="tree">
	  <%= render :partial => "tree" %>
	</div>
	<%= render :partial => "tree_trash_can" %>
</div>

<div id="middle_col">
  <%= render_notifications %>
</div>

<div id="right_col">
<%= render_right_col %>
</div>