<div class ="standard_form">
  <h2><%= t('.headline') -%></h2>
  <div id="edit_element">
    <% remote_form_for [:admin, @content_element.content_element.page, @content_element] do |f| %>
      <ul class="simple_tabs">
        <li><%= t(".general_options") %></li>
        <li class="current"><%= t(".type_settings") %></li>
        <li><%= t(".template") %></li>
        <li><%= t(".tags") %></li>
      </ul>
      <div class="tab_content">
        <fieldset>
          <legend><%= t(".content_element") %></legend>
          <div class="clear">
            <%= f.label :header, t(".header") %>
            <%= f.text_field :header %>
          </div>
          <div class="clear">
            <%= f.label :element_type, t(".element_type") %>
            <%= f.select :element_type, options_for_select(content_element_types, @content_element.element_type) %>
          </div>
        </fieldset>
        <fieldset>
          <legend><%= t(".visibility") %></legend>
          <div class="clear">
      	    <%= f.label :hidden, t(".hidden") %>
      		  <%= f.check_box :hidden, :class => "checkbox" %>
      		</div>
      	</fieldset>
      </div>
      <div class="tab_content current">
        <fieldset>
          <legend><%= t(".images") %></legend>
          <%=f.label :image, t(".images") %>
          <div id="image_attachments">
            <% f.fields_for :image_attachments do |i|  %>
              <fieldset>
                <% if i.object.image %>
                <legend><%= truncate(i.object.image.name, :length => 40, :omission => ".." ) %></legend>
                <%= tag("img", { :class => "thumb", :src => i.object.image.photo.url(:thumb) }) %>
                <% end %>
                <%= i.hidden_field :image_id, :class => "image_id" %>
                <%= i.label :width, t(".width"), :class => "inline" %>
                <%= i.text_field :width, :class => "small" %>
                <%= i.label :height, t(".height"), :class => "inline" %>
                <%= i.text_field :height, :class => "small" %><br /><br />
                <%= i.label :position, t(".position"), :class => "inline" %>
                <%= i.select :position, options_for_select(image_position_types, i.object.position) %><br /><br />
                <%= link_to t(".choose_image"), "#", :class => "choose-image_attachment" %> 
                <%= link_to image_tag("icons/bin.png"), remove_image_admin_content_element_image_path(@content_element, :image_attachment => i.object), :class => "delete-image_attachment"  %>
              </fieldset>
            <% end %>
          </div>
          <div class="clear">
            <%= f.label "" %>
            <%= link_to t(".add_new_image"), add_new_image_admin_content_element_image_path(@content_element), :class => "remote-link" %>
          </div>
        </fieldset>
      </div>
      <div class="tab_content">
        <fieldset>
          <legend><%= t(".template") %></legend>
          <%= f.label :template, t(".template") %>
          <%= f.select :template_id, ContentElementTemplate.all.collect { |t| [t.title, t.id]  }, { :include_blank => true } %>
        </fieldset>
      </div>
      <div class="tab_content">
        <fieldset>
          <legend><%= t(".tags") %></legend>
          <div class="clear">
        	  <%= f.label :tag_list, t(".tags") %>
        	  <%= f.text_field :tag_list, :id => "tag_list" %>
      		</div>
      	</fieldset>
      </div>
      <%= f.label "" %>
      <%= hidden_field_tag "page_id", params[:page] %>
      <%= hidden_field_tag "content_element_id", params[:content_element]  %>
      <%= f.submit t(".submit_text"), :class => "submit" %>
    <% end %>
  </div>
</div>
<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
<%= render :partial => "admin/content_elements/edit/auto_complete" %>