<div class ="standard_form">
  <h2><%= t('.headline') -%></h2>
  <div id="edit_element">
    <% remote_form_for [:admin, @page, @content_element] do |f| %>
      <ul class="simple_tabs">
        <li><%= t(".general_options") %></li>
        <li class="current"><%= t(".type_settings") %></li>
        <li><%= t(".template") %></li>
        <li><%= t(".tags") %></li>
      </ul>
      <div class="tab_content">
        <fieldset>
          <legend><%= t(".content_element") %></legend>
          <div class="clear">
            <%= f.label :header, t(".header") %>
            <%= f.text_field :header %>
          </div>
          <div class="clear">
            <%= f.label :element_type, t(".element_type") %>
            <%= f.select :element_type, options_for_select(content_element_types, @content_element.element_type) %>
          </div>
        </fieldset>
        <fieldset>
          <legend><%= t(".visibility") %></legend>
          <div class="clear">
      	    <%= f.label :hidden, t(".hidden") %>
      		  <%= f.check_box :hidden, :class => "checkbox" %>
      		</div>
      	</fieldset>
      </div>
      <div class="tab_content current">
        <%= render :partial => "admin/content_elements/edit/no_settings" %>
      </div>
      <div class="tab_content">
        <fieldset>
          <legend><%= t(".template") %></legend>
          <%= f.label :template, t(".template") %>
          <%= f.select :template_id, ContentElementTemplate.of_type(@content_element.element_type).collect { |t| [t.title, t.id]  } %>
        </fieldset>
      </div>
      <div class="tab_content">
        <fieldset>
          <legend><%= t(".tags") %></legend>
          <div class="clear">
        	  <%= f.label :tag_list, t(".tags") %>
        	  <%= f.text_field :tag_list, :id => "tag_list" %>
      		</div>
      	</fieldset>
      </div>
      <%= f.label "" %>
      <%= hidden_field_tag "page_id", params[:page] %>
      <%= hidden_field_tag "content_element_id", params[:content_element]  %>
      <%= f.submit t(".submit_text"), :class => "submit" %>
    <% end %>
  </div>
</div>
<%= render :partial => "admin/content_elements/edit/auto_complete" %>