<%= javascript_include_tag "palani/codemirror/codemirror"  %>
<% remote_form_for [:admin, page_template] do |f| %>	  	
	<fieldset>
		<%= f.label :title, t('.title') %>
		<%= f.text_field :title %>
	</fieldset>
	
	<fieldset>
		<%= f.label :code, t('.code') %>
		<%= f.text_area :code, :class => "big" %>
		<br />
		<% unless context == "new" %>
		<%= link_to t(".refresh_parsing"), parse_elements_admin_page_template_path(page_template), :class => "float_right remote-link" %><br /><br />
		<% end %>
	</fieldset>
	
	<% if page_template.template_parts.present? %>
	<fieldset>
	  <%= f.label :template_parts, t('.template_parts') %>
	  <div id="template_parts">
	    <ul>
	      <% f.fields_for :template_parts do |t|  %>
	        <li>
	          <fieldset>
              <legend><%= t.object.key %></legend>
	            <%= t.label :title, t(".title") %>
	            <%= t.text_field :title %><br />
	            <%= t.label :is_column, t(".is_column") %>
	            <%= t.check_box :is_column, :class => "checkbox" %>
	          </fieldset>
	        </li>
	      <% end %>
	    </ul>
	  </div>
	</fieldset>
	<% end %>
	
	<fieldset>
	  <%= label_tag "" %>
	  <%= f.submit t(".#{context}.submit_text"), :id => "submit_code",:class => "submit" %>
	</fielset>
<% end %>
<script type="text/javascript">
    var editor;
    function fancyEditor(){
      editor = CodeMirror.fromTextArea('page_template_code', {
        height: "350px",
        parserfile: ["parsexml.js", "parsecss.js", "tokenizejavascript.js", "parsejavascript.js", "parsehtmlmixed.js"],
        stylesheet: ["/stylesheets/palani/codemirror/xmlcolors.css",
                     "/stylesheets/palani/codemirror/jscolors.css",
                     "/stylesheets/palani/codemirror/csscolors.css",
                     "/stylesheets/palani/codemirror/editor_style.css"],
        path: "/javascripts/palani/codemirror/",
        continuousScanning: 500,
        lineNumbers: true
      });
    }
    setTimeout(fancyEditor, 1);
    
    $(document).ready(function(){
      $("#submit_code").bind("click", function() {
        $("#page_template_code").val(editor.getCode());
      });
    });
</script>