<div id="upload-image_attachment" class="x-hidden">
    <div class="x-window-header"><%= t("file_browser") %></div>
    <div id="browse-tabs">
        <!-- Auto create tab 1 -->
        <div id="image_upload" class="x-tab" title="<%= t("upload_new_file") %>">
            <%= render :partial => "admin/content_elements/types/content_element_image/upload" %>
        </div>
        <!-- Auto create tab 2 -->
        <div id="image_browser" class="x-tab" title="<%= t("browse_files") %>">
            <%= render :partial => "admin/content_elements/types/content_element_image/images" %>
        </div>
    </div>
</div>