<script type="text/javascript">
  
  function handleDrop(e) {
    var position = e.point;

    if (e.dropNode.attributes.attributes.mode!="new") {         // Drop existing page in tree
      jQuery.ajax({
          data : 'drop_id='+e.target.id+'&drag_id='+e.dropNode.id+'&position='+position,
          type : 'post', 
          url : '<%= url_for move_admin_pages_path %>',
          async : true
      });
    } else {                                                    // Drop new page
      var doktype = e.dropNode.attributes.attributes.type;
      jQuery.ajax({
          data : 'drop_id='+e.target.id+'&type='+doktype+'&position='+position,
          dataType :'json',
          type : 'post', 
          url : '<%= url_for admin_pages_path %>',
          async : false,
          success: function(data, status) {
            e.dropNode = new Ext.tree.TreeNode(data.text);
          }
      });
    }
    return e;
  }  
  
  Ext.onReady(function(){

      var tree = new Ext.tree.TreePanel({
          useArrows: true,
          autoScroll: true,
          animate: true,
          enableDD: true,
          ddGroup: 'treeDD',
          containerScroll: true,
          border: false,
          rootVisible: false,
          // auto create TreeLoader
          dataUrl: '<%= url_for tree_admin_trees_path(:format => :json) %>',
          root: {
              nodeType: 'async',
              text: 'Palani',
              draggable: false,
              id: 0
          }
      });
      
      var sm = tree.getSelectionModel();
      
      var Menu = new Ext.menu.Menu({
          id:'menu',
          items: [{
            id:'new',
            handler:newSiteHandler,
            icon:'/images/icons/page_add.png',
            cls:'new',
            text:'<%= t("new_page") %>'
          },{
            id:'show',
            handler:showSiteHandler,
            icon:'/images/icons/page_go.png',
            cls:'show',
            text:'<%= t("show") %>'
          },{
            id:'copy',
            handler:copyHandler,
            icon:'/images/icons/page_copy.png',
            cls:'copy',
            text:'<%= t("copy") %>' 
          },{
            id:'paste',
            handler:pasteHandler,
            icon:'/images/icons/page_paste.png',
            cls:'paste',
            text:'<%= t("paste") %>' 
          },{
            id:'remove',
            handler:deleteHandler,
            icon:'/images/icons/page_delete.png',
            cls:'delete',
            text: '<%= t("delete") %>'
          }]
      });
      
      function newSiteHandler() {
        var n = sm.getSelectedNode();
        if(n){
          jQuery.ajax({
              dataType : 'script',
              data : 'id='+n.id,
              type : 'get',
              url : '<%= url_for new_select_position_admin_pages_path %>',
              async : true
          });
        }
      }
      
      function showSiteHandler() {
        
      }
      
      function copyHandler() {
        var n = sm.getSelectedNode();
        if(n){
          Menu.items.get('paste').enable();
        }
      }
      
      function pasteHandler() {
        var n = sm.getSelectedNode();
        if(n){
          
        }
      }
      
      function deleteHandler() {
        var n = sm.getSelectedNode();
        if(n){
        	tree.getSelectionModel().selectPrevious();
        	n.parentNode.removeChild(n);
        	jQuery.ajax({
              data : '_method=delete',
              type : 'post', 
              url : '<%= url_for admin_pages_path %>/'+n.id,
              async : true
          });
        }
      }

      function prepareMenu(node, e){
        node.select();
        Menu.items.get('paste').disable();
        Menu.showAt(e.getXY());
      }
      
      tree.on('contextmenu', prepareMenu);
      
      tree.on('beforenodedrop', function(e){
        e = handleDrop(e);
        return true;
      });
      
      tree.on('click', function(e){
        jQuery.ajax({
            dataType :'script',
            type : 'get',
            url : '<%= url_for admin_pages_path %>/'+e.id,
            async : true
        });
      });
      
      // render the tree
      tree.render('tree-div');
      
      var dragPage = new Ext.dd.DragSource('page_create', {
            ddGroup: 'treeDD',
            getTreeNode: function () {
              return new Ext.tree.TreeNode({
                        text: '<%= t("new_page") %>',
                        id: 'dummy',
                        cls: 'ContentPage',
                        icon: '/images/icons/page_green.png',
                        attributes: { mode: 'new', type: 'ContentPage'}
                      });
            }
      });
      
      var drop = new Ext.dd.DropTarget('trash_can', {
            ddGroup: 'treeDD', 
            overClass: 'hover',
            notifyDrop: function(dd, e, data){
              if (data.node) {
                jQuery.ajax({
                    data : '_method=delete',
                    type : 'post', 
                    url : '<%= url_for admin_pages_path %>/'+data.node.id,
                    async : true
                });
                data.node.remove();
              }

            }
      });
      
      tree.expandAll();
      
  });
</script>
<div id="tree-div">
</div>