<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Palani 0.2 | A CMS based on Ruby on Rails</title>
	
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "../javascripts/extjs/resources/css/ext-all-notheme" %>
	<%= stylesheet_link_tag "../javascripts/extjs/resources/css/xtheme-palani" %>
	<%= stylesheet_link_tag "../javascripts/extjs/examples/grid/grid-examples" %>
	<%= stylesheet_link_tag "forms" %>
	<%= stylesheet_link_tag "boxes" %>
  
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "extjs/adapter/jquery/ext-jquery-adapter" %>
	<%= javascript_include_tag "extjs/ext-all" %>
	<%= javascript_include_tag "jquery.livequery" %>
	<%= javascript_include_tag "jquery.autocomplete.pack" %>
	<%= javascript_include_tag "simple_tabs" %>
	<%= javascript_include_tag "ajaxify" %>
	<%= javascript_include_tag "Portal", "PortalColumn", "Portlet","extjs/examples/shared/examples" %>
	<script type="text/javascript">
	  var win;
		var element_position;
	  $(document).ready(function(){

        $("#image_browser ul li a").livequery('click', function() {

    			if($("#image_attachments fieldset:eq("+element_position+") legend").length==0) {
    				$("#image_attachments fieldset:eq("+element_position+")").append("<legend></legend>");
    			}
    			if($("#image_attachments fieldset:eq("+element_position+") img").length > 0) {
    				$("#image_attachments fieldset:eq("+element_position+") img").remove();
    			}

    			$("#image_attachments fieldset:eq("+element_position+") legend").html($(this).find("img:first").attr("alt"));	
    			$(this).find("img:first").clone().prependTo("#image_attachments fieldset:eq("+element_position+")");

    			$("#image_attachments fieldset:eq("+element_position+") .image_id").val($(this).find("img:first").attr("title"));

    			win.hide();

    		});
    		
    		$(".choose-image_attachment").livequery('click', function(){

            // create the window on the first click and reuse on subsequent clicks
            if(!win){
                win = new Ext.Window({
                    applyTo:'upload-image_attachment',
                    layout:'fit',
                    width:600,
                    height:500,
    								closeAction: 'hide',
                    plain: true,
    								modal: true,
    								id: 'test',
                    items: new Ext.TabPanel({
                        applyTo: 'browse-tabs',
                        autoTabs:true,
                        activeTab:0,
                        deferredRender:false,
                        border:false
                    })
                });
            }

    				element_position = $(this).parent().parent().find("fieldset").index($(this).parent());
    				win.show();
        });

    });
	</script>
	<link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>

	<div id="header">
	  <div id="spinner">
	    <%= image_tag "spinner.gif" %> <span><%= t("loading") %></span>
    </div>
		<ul>
			<li id="time"><%= current_time %></li>
			<li>| <%= t('.logged_in_as') -%> <i><%= current_user.surname + " " + current_user.name -%></i></li>
			<li>| <%= link_to "Logout", logout_path -%></li>
		</ul>
		
	</div>
	
	<%= render_main_menu(params[:controller]) %>
	
	<div id="content">
		<%= yield %>
	</div>
	
</body>
</html>
