<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Palani 0.2 | A CMS based on RubyOnRails</title>
		
	<%= stylesheet_link_tag 'welcome' -%>
	
	<%= javascript_include_tag 'welcome' %>
	<link rel="shortcut icon" href="/favicon.ico" />
</head>

<body onresize="centerBox()">
	
	<ul>
			<li id="time"><%= current_time %></li>
			<li>| <a href="http://www.palani-cms.org/"><%= t('.about_palani') -%></a></li>
			<li>| <%= link_to "Login", login_path %></li>
	</ul>
	
	<div id="main">
		<%= yield %>
	</div>
	
</body>
</html>
